services:
  postgres:
    image: postgres:15
    container_name: todos-postgres
    restart: always
    environment:
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: todo_pass
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: todos-adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  pgdata:
